<footer class="footer content-wrapper">
    <div class="foote-item">
        <p>&copy; sonica-drive.jp</p>
        <p>Hosted by <a href="https://vercel.com" target="_blank">Vercel</a></p>
    </div>
    <div class="foote-item">
        <p>ソニカオーナーの皆様、<br>このウェブサイトを盛り上げませんか？<br><a href="https://github.com/AioiLight/sonica-drive-jp" target="_blank">GitHub</a> で協力者を募集しています。</p>
    </div>
</footer>

<style>
    .footer {
        display: grid;
        gap: 12px;
        text-align: end;
        font-size: 14px;
        color: var(--color-text-secondary);
        line-height: 1.3;
    }
</style>