---
import imgWindow from '@assets/sonica-window-silhouette.svg';
import { Image } from 'astro:assets';
---
<div class="index-hero-wrapper">
    <div class="index-hero">
        <p class="index-hero__lead">飛ぶように、爽快。<span class="b">ダイハツ・ソニカ</span><span class="b">非公式ファンサイト</span></p>
        <Image src={imgWindow} alt="" aria-hidden="true" class="index-hero__background"></Image>
    </div>
</div>

<style>
    .index-hero-wrapper {
        background: #7ECEF4;
        padding-block-start: calc(10px + 34px + 10px);
        margin-block-start: calc((10px + 34px + 10px) * -1);
    }
    .index-hero {
        padding-block: 72px;
        padding-inline: 20px;
        display: grid;
        isolation: isolate;
        inline-size: 100%;
    }
    .index-hero__lead {
        font-size: 24px;
        line-height: 1.3;
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
        letter-spacing: .4em;
    }
    .index-hero__background {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;
        justify-self: end;
    }
</style>