---
import "@styles/reset.css";
import "@styles/common.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import type { MarkdownLayoutProps } from "astro";
type Props = MarkdownLayoutProps<{
    title: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title} - ダイハツ・ソニカ 非公式ファンサイト</title>
    </head>
    <body>
        <div class="wrapper">
            <Header />
            <main class="main">
                <slot />
            </main>
            <Footer></Footer>
        </div>
    </body>
</html>

<style>
    :root {
        color: var(--color-text-primary);
        background: var(--color-background);
    }

    .content {
        padding-block: 32px;
    }
</style>
